
.actions  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
   
.actions li {
    font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
    border-bottom: 1px solid #ccc;
  }
   
  .actions li:last-child {
    border: none;
  }
   
  .actions li a {
    text-decoration: none;
    color: #000;
    display: block;
    width: 200px;
   
    -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
    -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
    -o-transition: font-size 0.3s ease, background-color 0.3s ease;
    -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
    transition: font-size 0.3s ease, background-color 0.3s ease;
  }
   
  .actions li a:hover {
    font-size: 30px;
    background: #f6f6f6;
  }

.tags {
    list-style: none;
    margin: 0;
    overflow: hidden; 
    padding: 0;
    zoom: 1;
  }
  
  .tags li {
    float: left; 
    zoom: 1;
  }
  
  .tag-off {
    background: #eee;
    border-radius: 3px 0 0 3px;
    color: #999;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding: 0 20px 0 23px;
    position: relative;
    margin: 0 10px 10px 0;
    text-decoration: none;
    -webkit-transition: color 0.2s;
    zoom: 1;
  }
  
  .tag-off::before {
    background: #fff;
    border-radius: 10px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
    content: '';
    height: 6px;
    left: 10px;
    position: absolute;
    width: 6px;
    top: 10px;
    zoom: 1;
  }
  
  .tag-off::after {
    background: #fff;
    border-bottom: 13px solid transparent;
    border-left: 10px solid #eee;
    border-top: 13px solid transparent;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    zoom: 1;
  }
  
  .tag-off:hover {
    background-color: crimson;
    color: white;
  }
  
  .tag-off:hover::after {
     border-left-color: crimson; 
  }

  .tag-on {
    background-color: crimson;
    border-radius: 3px 0 0 3px;
    color: white;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding: 0 20px 0 23px;
    position: relative;
    margin: 0 10px 10px 0;
    text-decoration: none;
    -webkit-transition: color 0.2s;
    zoom: 1;
  }

  .tag-on::before {
    background: #fff;
    border-radius: 10px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
    content: '';
    height: 6px;
    left: 10px;
    position: absolute;
    width: 6px;
    top: 10px;
    zoom: 1;
  }
  
  .tag-on::after {
    background: #fff;
    border-bottom: 13px solid transparent;
    border-left: 10px solid crimson;
    border-top: 13px solid transparent;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    zoom: 1;
  }
